  <h2>Nog vragen?</h2>
  <hr>
  <address>
    <strong>Chiro Lips</strong>
    <br>Pannenhuisstraat 360
    <br>2500 Lier
    <br>
  </address>
  <address>
    <strong>Groepsleiding</strong>
    <br>Arno Van Der Straeten: <a href="tel:0490/44.70.99">0490/44.70.99</a>
    <br>Nieke Ceulemans: <a href="tel:0473/47.64.81">0473/47.64.81</a>
    <br>Simon Mariën: <a href="tel:0476/54.44.26">0476/54.44.26</a>
    <br>
    <br>Mail:
    <a href="mailto:info@chirolips.be">info@chirolips.be</a>
    <br>Tot ziens en tot zondag!
  </address>

