<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Tito's</h2>
      <hr>
    </div>
    <div class="col-md-8 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey wij zijn Lisa, Savannah, Yannick en Nore, leiders van de tito’s. Bij ons kan je terecht met
            een leeftijd van 12 tot 14 jaar. Wij zijn de stoere kids van de chiro, helemaal mee met de nieuwste trends.
            We babbelen graag maar doen eveneens graag goed zot! Op zondag worden de gsm en andere schermpjes even
            vergeten en wordt alle energie in sport en spel gestoken. Onze afdelingskleur is rood en onze mascottes zijn
            Flamm en Spetter, twee coole dynamietstaven die elke zondag opnieuw weer voor vuurwerk zorgen! </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            Nog vragen? Aarzel dan niet om ons te contacteren op onze gsm of via mail op voornaamleiding@chirolips.be!<br><br>
            <strong>Titoleiding:</strong><br>
            Lisa Batta:	<a href="tel:0490/43.71.28">0490/43.71.28</a><br>
            Savannah Maldoy: <a href="tel:0476/30.57.85">0476/30.57.85</a><br>
            Yannick Ceulemans: <a href="tel:0477/51.56.66">0477/51.56.66</a><br>
            Nore Van Der Straeten: <a href="tel:0491/39.90.61">0491/39.90.61</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Arno: Ontrouwe echtgenoot<br>
            Chloe: Bandwerpen<br>
            Stephanie: Stamp de beer
          </p>
        </div>
      </div>
    </div>

    <!--<div class="col-md-5">
      <img class="w-100 h-auto" src="./assets/media/Tito_leiding.jpeg">
    </div>-->
    <div class="col-md-7">
      <img class="w-100 h-auto" src="./assets/media/flam_spetter.webp">
    </div>

    <div class="col-md-12 mb-5" style="color: red">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Wij zijn heel boeiend en vermoeiend,<br>
            valle mee maar zelden stil,<br>
            al wie met ons mee wil trekken<br>
            kan best weten wat hij wil<br><br>
            We zoeken actie en reactie,<br>
            vallen op, maar zelden uit,<br>
            gaan ons eigen nieuwe wegje,<br>
            ook al klinkt het fluitgeluid.<br><br>
            Refrein<br><br>
            Framboos, da's eerder roos<br>
            vermiljoen, da's niet te doen,<br>
            magenta en bordeaux<br>
            scharlaken sowieso,<br>
            superfluomegasjiek knal-fel-rood!<br><br>
            We roepen krachtig, oppermachtig,<br>
            trappen lol, en zelden na.<br>
            Ligt de bal soms in ons kamp?<br>
            Ik roep, ik sjot: dus ik besta.<br><br>
            We fietsen fel doorheen het spel,<br>
            trappen mee, maar er niet in.<br>
            Afgeborsteld paraderen,<br>
            daarin hebben we geen zin.<br><br>
            We kunnen kletsen als de besten,<br>
            draaien vierkant rond de pot.<br>
            Samen voor iets moeten kiezen,<br>
            loopt niet altijd even vlot.<br><br>
            maar we proberen, discussiërenl,<br>
            draaien dol en toch niet door.<br>
            Vindt de ploeg de juiste spirit,<br>
            geen gedoe, we gaan ervoor.



          </p>
        </div>
      </div>
    </div>
  </div>
</div>
