<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-primary text-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Uitleg verdeler</h3>
            </div>
          </div>
        </div>
        <div class="card-body text-white">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-12">
                  <h3>Info:</h3>
                  <li>Deze AIL verdeler zorgt ervoor dat personen die je ingeeft zo weinig mogelijk met dezelfde mensen staan.
                  <li>Dit werkt op basis van een genetisch algoritme dat niet teveel input aan kan, dan crasht hij en is hij kapot.
                  <li>Het duurt even om wakker te worden dus heb enkele seconden geduld.
                  <li>Om rekening te houden met welke groep, lees hieronder.
                  <br><br><h3>Velden:</h3>
                  <li>Afdelingen: vul het numerieke aantal afdelingen in (bv 3)</li>
                  <li>Zondagen: vul het numerieke aantal zondagen in (bv 3)</li>
                  <li>Namen: vul alle namen in, gescheiden van een spatie (bv Danny Jos Jan Jemery).
                  <li>Duo niet bij elkaar: vul de namen in van diegene die best niet bij elkaar mogen staan (bv Danny/Jos Jan/Jemery duo1/duo2).</li>
                  <br><h3>Rekening houden met groep:</h3>
                  <li>Om rekening te houden met de groep voeg je de namen van de groepen toe aan het namen veld (bv. Vedetjes Speelclub Rakwi Tito).</li>
                  <li>Daarna voeg je elke afdeling met elke andere afdeling als duo in in het duo niet bij elkaar veld</li>
                  <li>=> (bv Vedetjes/Speelclub Vedetjes/Rakwi Vedetjes/Rakwi Speelclub/Rakwi Speelclub/Tito Rakwi/Tito).</li>
                  <li>De groepsnamen zullen nu onder de afdelingen te zien zijn.</li>
                  <br><h3>Waarden 21-22:</h3>
                  <li>Namen: Vedetjes Speelclub Rakwi Tito Kasper Liese Amber Hanne Jitske Free Seppe Alexandra Hazel Anse Sieglinde Roos</li>
                  <li>Duo niet bij elkaar: Vedetjes/Speelclub Vedetjes/Rakwi Vedetjes/Tito Speelclub/Rakwi Speelclub/Tito Rakwi/Tito</li>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
