<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Speelclub</h2>
      <hr>
    </div>
    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey, wij zijn Mathias en Savannah, leiders van de speelclub! Bij ons kan je terecht met
            een leeftijd van 8 tot 10 jaar. Geel is onze lievelingskleur, dat kan je zien aan onze mascotte Mazzel.
            Mazzel is een stoere gast met een rugzak vol toffe gadgets en spelen die ons doorheen het jaar veel plezier
            brengen. Bij ons wordt er geleerd om echt samen te spelen, we vormen een hecht team want meer dan onze
            vrienden en ons terrein hebben wij niet nodig om ons elke zondag weer te amuseren. </p>
        </div>
      </div>
    </div>
    <img class="w-100 h-auto" src="./assets/media/Speelclub_leiding.jpeg">
    <div class="col-md-12 mb-5 text-primary">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Savannah: Ontrouwe echtgenoot<br>
            Mathias: Tsjoekbal</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5" style="color: yellow">
      <div class="card h-100 bg-secondary">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Hé ga je mee naar speelclubland,<br>
            Jij en ik hand in hand, hé ga je mee naar speelclubland naar speel-club-land<br>
            Daar kan je heel wat leren, van beren fantaseren<br>
            We maken lol om een vieze drol en we doen zo raar als een tovenaar<br>
            Onder de grond….<br>
            Zwemmen zombies rond

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
