<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Speelclub</h2>
      <hr>
    </div>
    <div class="col-md-8 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey, wij zijn Rune, Anse, Alexandra, Hanne en Simon, leiders van de speelclub! Bij ons kan je terecht met
            een leeftijd van 8 tot 10 jaar. Geel is onze lievelingskleur, dat kan je zien aan onze mascotte Mazzel.
            Mazzel is een stoere gast met een rugzak vol toffe gadgets en spelen die ons doorheen het jaar veel plezier
            brengen. Bij ons wordt er geleerd om echt samen te spelen, we vormen een hecht team want meer dan onze
            vrienden en ons terrein hebben wij niet nodig om ons elke zondag weer te amuseren. </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            Nog vragen? Aarzel dan niet om ons te contacteren op onze gsm of via mail op voornaamleiding@chirolips.be!<br><br>
            <strong>Speelclubleiding:</strong><br>
            Rune Ceulemans: <a href="tel:0471/63.60.32">0471/63.60.32</a><br>
            Anse Van der Straeten <a href="tel:0468/46.40.00">0468/46.40.00</a><br>
            Alexandra Smolders <a href="tel:0496/80.85.70">0496/80.85.70</a><br>
            Hanne Struyve <a href="tel:0477/26.58.88">0477/26.58.88</a><br>
            Simon Mariën: <a href="tel:0476/54.44.26">0476/54.44.26</a>
          </p>

        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Yannick: stamp de beer<br>
            Jeremy: platte jos<br>
            Wiktoria: dikke bertha
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/Speelclub_leiding.jpeg">
    </div>
    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/mazzel.webp">
    </div>

    <div class="col-md-12 mb-5" style="color: #ebdb34">
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Hé ga je mee naar speelclubland,<br>
            Jij en ik hand in hand, hé ga je mee naar speelclubland naar speel-club-land<br>
            Daar kan je heel wat leren, van beren fantaseren<br>
            We maken lol om een vieze drol en we doen zo raar als een tovenaar<br>
            Onder de grond….<br>
            Zwemmen zombies rond

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
