<!-- Page Content -->
<div class="container">
  <div class="col-md-12 mb-5 align-middle">
    <div class="card h-100 border-primary">
      <div class="card-body">
        <h5 class="text-primary">Documenten bivak 2021:</h5>
        <p class="card-text">
          Download hieronder de documenten die met het kamp te maken hebben.<br>
          <a href="./assets/pdf/PowerPoint%20Lommel.pptx.pdf" download="PowerPoint_Infoavond_Lommel_2021">Download Powerpoint Infoavond</a><br>
          <a href="./assets/pdf/Medische_fiche.pdf" download="Medische_fiche">Download medische fiche</a><br>
        </p>
      </div>
    </div>
  </div>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScVsPe5oanfahTvoniSICFPPpbbJ2T_wRuU2E_eD9ybfarEhw/viewform?embedded=true" width="640" height="1536" frameborder="0" marginheight="0" marginwidth="0">Laden…</iframe></div>
