<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Aspiranten</h2>
      <hr>
    </div>
    <div class="col-md-8 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Welkom bij de oudste afdeling, wij zijn Mathias en Simon, leiders van de aspiranten, aka de
            aspi’s. Bij ons ben je welkom met een leeftijd tussen de 16 en 18 jaar. Ons programma is zeer gevarieerd, we
            wisselen hevige en vettige spelen af met gezellige babbels en kaartspelen in ons lokaal. Ook word je als
            aspirant erop klaargestoomd om in te treden in de supertoffe leidingsploeg maar dat vergt wel voorbereiding.
            In ons jaar staan we af en toe stil bij ‘leiding zijn’ en met onze aspi’s in leiding proeven we van het
            leiding geven aan één van de jongere afdelingen. Verder doen we nog supertoffe activiteiten zoals een
            leefweek, een tweedaagse, een vlaggenwacht, … Dit zijn momenten waarin een echte band met de groep wordt
            ontstaan en daarom zit de sfeer er bij ons altijd dik in. En vergeet onze mascotte Freek niet: een oranje
            wezen dat ons het hele jaar begeleid met alles en altijd voor ons klaarstaat!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            Nog vragen? Aarzel dan niet om ons te contacteren op onze gsm of via mail op voornaamleiding@chirolips.be!<br><br>
            <strong>Aspirantenleiding:</strong><br>
            Mathias Laureys: <a href="tel:0471/86.67.17">0471/86.67.17</a><br>
            Simon Mariën: <a href="tel:0476/54.44.26">0476/54.44.26</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Joy: Ontrouwe echtgenoot<br>
            Kevin: Levende stratego</p>
        </div>
      </div>
    </div>

    <!--<div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/Aspi_leiding.jpeg">
    </div>-->
    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/freek.webp">
    </div>

    <div class="col-md-12 mb-5" style="color: orange">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Oh aspirant, oranje land<br>
            Wij worden kampioen<br>
            Wij houden van de aspirant<br>
            Voor zijn daden en zijn doen<br>
            Wij houden van de aspirant<br>
            Voor zijn daden en zijn doen
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
