<!-- Page Content -->
<div class="container">

  <div class="col-md-12 mb-5 align-middle">
    <div class="card h-100 border-primary">
      <div class="card-body">
        <h5 class="text-primary">Wafeltjesslag 2021:</h5>
        <p class="card-text">
          Hoi allemaal,<br><br>
          Bij een nieuw jaar hoort een nieuwe wafelslag. Ook dit jaar hopen wij weer op jullie steun. De inkomsten gaan dan ook integraal naar onze werking en onze nieuwe lokalen.<br><br>
          Wafeltjes kunnen via onderstaande knop via een google forms besteld worden.<br><br>
          Groetjes,<br>
          De leidingsploeg en VB’s
        </p>
        <a class="btn btn-primary btn-lg" routerLinkActive="active" [routerLink]="['/wafeltjes']">Bestellen &raquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Over ons</h2>
      <hr>
      <h5>Wat doen we?</h5>
      <p>Elke zondagnamiddag van 2 tot half 6 spelen wij in onze toffe lokalen of op ons mooie grasplein.</p>

      <h5>Voor wie?</h5>
      <p>Iedereen van 6 tot en met 18 jaar die houdt van een leuk spel, samenzijn met vrienden van je eigen
        leeftijd, ravotten, een spannend verhaal, knutselen, op kamp gaan, kortom, voor iedereen die zich niet
        graag verveelt!</p>
      <a class="btn btn-primary btn-lg" routerLinkActive="active" [routerLink]="['/over-ons']">Lees verder &raquo;</a>
    </div>
    <app-contact></app-contact>
  </div>

  <!-- /.row -->

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top"
             src="assets/media/hotlips.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Hot Lips</h4>
          <p class="card-text">De maandelijkse Hot Lips is ons belangrijkste communicatiemiddel naar de leden
            toe. Hier vind je wat er elke week op het programma staat.</p>
        </div>
        <div class="card-footer">
          <a routerLinkActive="active" [routerLink]="['/hotlips']" class="btn btn-primary">Lees verder &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top"
             src="assets/media/covid19.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Covid-19</h4>
          <p class="card-text">Wij volgen de meest recente protocollen en richtlijnen opgesteld door Chirojeugd
            Vlaanderen. Lees deze maatregelen door te klikken op lees verder.</p>
        </div>
        <div class="card-footer">
          <a href="https://chiro.be/corona" class="btn btn-primary">Lees meer &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/media/formatie.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Naar de Chiro?</h4>
          <p class="card-text">Wil je starten op de chiro maar weet je niet wat alle afdelingen zijn en waar je terecht gaat komen? Lees dan verder door op de knop te drukken.</p>
        </div>
        <div class="card-footer">
          <a routerLinkActive="active" [routerLink]="['/afdelingen']" class="btn btn-primary">Lees meer &raquo;</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
