<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Over ons</h2>
      <hr>
      <h5>Wat doen we?</h5>
      <p>Elke zondagnamiddag van 2 tot half 6 spelen wij in onze toffe lokalen of op ons mooie grasplein.</p>

      <h5>Voor wie?</h5>
      <p>Iedereen van 6 tot en met 18 jaar die houdt van een leuk spel, samenzijn met vrienden van je eigen
        leeftijd, ravotten, een spannend verhaal, knutselen, op kamp gaan, kortom, voor iedereen die zich niet
        graag verveelt!</p>
      <a class="btn btn-primary btn-lg" href="html/overOns.html">Lees verder &raquo;</a>
    </div>
    <app-contact></app-contact>
    </div>

      <!-- /.row -->

      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top"
                 src="https://image.isu.pub/151003095654-a477c782796c445f1baa0f21b0e13016/jpg/page_1.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Hot Lips</h4>
              <p class="card-text">De maandelijkse Hot Lips is ons belangrijkste communicatiemiddel naar de leden
                toe. Hier vind je wat er elke week op het programma staat.</p>
            </div>
            <div class="card-footer">
              <a href="html/hotlips.html" class="btn btn-primary">Lees verder &raquo;</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top"
                 src="https://wafeltjes.be/app/uploads/2016/10/ambachtelijke-wafeltjes-vanille.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Wafeltjesslag</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="https://www.chirolips.be/img/IMG-20180928-WA0000.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Bouw</h4>
              <p class="card-text">Koop Wafels</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
