<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Rakwi's</h2>
      <hr>
    </div>
    <div class="col-md-8 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey wij zijn Joy, Stephanie, Roeland en Julie, leidsters van de rakwi’s, een duo van girl power die zich
            zeker niet laten doen door al die kapoenen. Bij ons kan je terecht met een leeftijd van 10 tot 12 jaar. Onze
            kleur en mascotte sjoepap zijn groen en daar zijn we trots op! We duiken in de nieuwste trends, bouwen zelf
            onze eigen spelen op, trekken er graag op uit maar maken ons vooral ook graag vuil! Als het kon pakte we
            elke zondag een bad vol groene verf!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            Nog vragen? Aarzel dan niet om ons te contacteren op onze gsm of via mail op voornaamleiding@chirolips.be!<br><br>
            <strong>Rakwileiding:</strong><br>
            Joy Proost:	<a href="tel:0471/92.16.97">0471/92.16.97</a><br>
            Stephanie Deyaert: <a href="tel:0470/22.55.45">0470/22.55.45</a><br>
            Roeland Van Nuffel: <a href="tel:0492/49.92.65">0492/49.92.65</a><br>
            Julie de Voght: <a href="tel:0493/11.51.08">0493/11.51.08</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Elke: Tsjoekbal<br>
            Nieke: Trefbal</p>
        </div>
      </div>
    </div>

    <!--<div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/Rakwi_leiding.jpeg">
    </div>-->
    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/sjoepap.webp">
    </div>

    <div class="col-md-12 mb-5" style="color: green">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Zet je groene bril maar op om een rakwistoet te zien.<br>
            Een verhaal, een lied van één, krijgt applaus van iedereen.<br>
            We sluipen door het bos,<br>
            't avontuur dat trekt ons aan van indy-boy en cowboy-aan.<br>
            Hey, hey.<br>
            Wie kent er niet de rakwiploeg,<br>
            die vrolijke bende babbelaars,<br>
            die niet wachten op goed weer om te spelen elke keer,<br>
            of te brullen als een beer.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
