<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5" *ngIf="loaded">
      <h2>Kalender</h2>
      <hr>
      <p>Een chirojaar is niet enkel activiteiten in afdeling op zondag maar er zijn ook verschillende andere speciale
        activiteiten. Wat
        deze zijn kan je hieronder zien.</p>
      <div class="dropdown-divider"></div>
      <div *ngFor="let date of dates | async">
        <div *ngIf="getDatum(date).endDate > -1">
          <h5>{{getDatum(date).getDutchMonth()}}</h5>
          <p><span class="text-primary">{{getDatum(date).startDate.getDate() + "-" + getDatum(date).endDate.getDate() + " " + getDatum(date).getDutchMonth().toLowerCase() + " " + date.name + ":"}}</span>
            {{date.description}}</p><br>
        </div>
        <div *ngIf="hasEndDate(getDatum(date).endDate)">
          <h5>{{getDatum(date).getDutchMonth()}}</h5>
          <p><span class="text-primary">{{getDatum(date).startDate.getDate()+ " " + getDatum(date).getDutchMonth().toLowerCase() + " " + date.name + ":"}}</span>
            {{date.description}}</p><br>
        </div>
      </div>

    </div>

    <app-contact></app-contact>
  </div>
</div>
