<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Kalender</h2>
      <hr>
      <p>Een chirojaar is niet enkel activiteiten in afdeling op zondag maar er zijn ook verschillende andere speciale
        activiteiten. Wat
        deze zijn kan je hieronder zien.</p>
      <div class="dropdown-divider"></div>
      <h5>November</h5>
      <p><span class="text-primary">22 november Kriko: </span>Kriko is de feestdag van de chiro. Elk jaar beleven we met
        iedereen een speciale activiteit om hierbij stil te staan. Normaal gezien eten is dit een hele dag en eten we
        warm tijdens de middag. Spijtig genoeg steekt Corona hier een stokje voor dit jaar.</p><br>

      <h5>Januari</h5>
      <p><span class="text-primary">16 januari katogentocht: </span>De oudleiding steekt elk jaar de katogentocht in
        elkaar voor ouders en leden. Het is een wandeling met elk jaar leuk ingekleed met opdrachten en toneel. Meer informatie volgt.</p><br>

      <h5>Mei</h5>
      <p><span class="text-primary">30-1-2 mei Ribbekesfeesten en quiz: </span>Kom lekkere ribbekes eten of quizen om
        onze chiro te steunen! Meer informatie volgt.</p>
    </div>

    <app-contact></app-contact>
  </div>
</div>
