<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Kalender</h2>
      <hr>
      <p>Een chirojaar is niet enkel op zondag maar er zijn ook verschillende andere speciale activiteiten. Wat
        deze zijn kan je hieronder zien.</p>
      <div class="dropdown-divider"></div>
      <h5>Oktober</h5>
      <p><span class="text-primary">24-25 oktober Wafeltjesslag: </span>de eerste winstgevende activiteit van het
        jaar. Wij verkopen lekkere vanillewafels, chocoladewafels, carre confituurtjes, frangipanes en
        kokosrotsjes aan 6 euro per doos. Wilt u een jeugdbeweging steunen en tegelijk lekker snoepen, bestellen maar!</p><br>

      <h5>Mei</h5>
      <p><span class="text-primary">30-1-2 mei Ribbekesfeesten en quiz: </span>kom lekkere ribbekes eten of quizen om onze chiro te steunen!</p>
    </div>

    <app-contact></app-contact>
  </div>
</div>
