<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Ail Verdeler</h2>
      <hr>
    </div>
    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hier kan je op basis van namen, aantal afdelingen, aantal zondagen, en welke duos er niet mogen samen staan groepen maken.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-ail-verdeling-tab></app-ail-verdeling-tab>
  </div><br>
  <div>
    <app-ail-uitleg></app-ail-uitleg>

  </div>
  <br>
</div>
