<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Keti's</h2>
      <hr>
    </div>
    <div class="col-md-8 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey, wij zijn Nieke en Chloe, leiders van de keti’s. Bij ons kan je terecht met een
            leeftijd van 14 tot 16 jaar. Op avontuur gaan, vlotten bouwen, eigen sporten verzinnen of op tweedaagse
            gaan? Wij doen het allemaal. En willen we een keer lekker luieren dan kan dat ook perfect, afwijken van ons
            programma kan al eens, zolang we er samen een geslaagde zondag van maken. En oh kennen jullie onze mascotte
            al? Het is Boris de bever, de ster van het toneel, onze zotte kuren halen we van hem want wat is er leuker
            dan eens goed onnozel te doen? </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            Nog vragen? Aarzel dan niet om ons te contacteren op onze gsm of via mail op voornaamleiding@chirolips.be!<br><br>
            <strong>Ketileiding:</strong><br>
            Nieke Ceulemans: <a href="tel:0473/47.64.81">0473/47.64.81</a><br>
            Chloë Peeters: <a href="tel:0498/04.01.01">0498/04.01.01</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Nieke: trefbal<br>
            Chloe: tsjoekbal
          </p>
        </div>
      </div>
    </div>

    <!--<div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/Keti_leiding.jpeg">
    </div>-->
    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/Boris_bever.webp">
    </div>

    <div class="col-md-12 mb-5" style="color: blue">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Zittend bij een sterk verhaal, om beurten overdrijven<br>
            coole sfeer maar nooit banaal, wie komt wil bij ons blijven<br>
            springend op een wankel vlot maar net niet in het water<br>
            met zijn allen stikkapot maar samen dus geen kater<br><br>

            bie bo ketiblauw en we zoeken nieuwe wegen<br>
            houden niet van lauw, 't is ofwel zon, ofwel regen<br>
            bie bo ketigo, nie no niemand houdt ons tegen,<br>
            do you keti know, hoe we - wie we echt zijn.<br><br>

            Wroetend in een goed gesprek.<br>
            We durven dieper graven,aan ideeën geen gebrek,<br>
            maar zonder door te draven.<br>
            Hossend in een drassig bos,het noorden is verdwenen.<br>
            Geen paniek, het loopt wel los,<br>
            het zit in onze genen.<br><br>

            Luierend in onze tent,op platte luchtmatrassen.<br>
            Keti's houden, da's bekend,niet van patatten jassen.<br>
            Spurtend naar de overkanten samen arriveren.<br>
            Winnen is niet relevant,wat telt is amuseren.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
