<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>De Hot lips</h2>
      <hr>
      <p>De maandelijkse Hot Lips is ons belangrijkste communicatiemiddel naar de leden
        toe. Hier vind je wat er elke week op het programma staat.</p>
      <h5>Download hieronder</h5>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-september-2022.pdf" download="Hot Lips September 2022">Download Hot Lips September 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-juni-2022.pdf" download="Hot Lips Juni 2022">Download Hot Lips Juni 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-mei-2022.pdf" download="Hot Lips Mei 2022">Download Hot Lips Mei 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-april-2022.pdf" download="Hot Lips April 2022">Download Hot Lips April 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-maart-2022.pdf" download="Hot Lips Maart 2022">Download Hot Lips Maart 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-februari-2022.pdf" download="Hot Lips Februari 2022">Download Hot Lips Februari 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-januari-2022.pdf" download="Hot Lips Januari 2022">Download Hot Lips Januari 2022</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-december-2021.pdf" download="Hot Lips December 2021">Download Hot Lips December 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-november%202021.pdf" download="Hot Lips November 2021">Download Hot Lips November 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-oktober%202021.pdf" download="Hot Lips Oktober 2021">Download Hot Lips Oktober 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-september%202021.pdf" download="Hot Lips September 2021">Download Hot Lips September 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-juni%202021.pdf" download="Hot Lips Juni 2021">Download Hot Lips Juni 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-mei%202021.pdf" download="Hot Lips Mei 2021">Download Hot Lips Mei 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-april%202021.pdf" download="Hot Lips April 2021">Download Hot Lips April 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hot-Lips-maart%202021.pdf" download="Hot Lips Maart 2021">Download Hot Lips Maart 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hotlips_februari_2021.pdf" download="Hot Lips Februari 2021">Download Hot Lips Februari 2021</a><br>
      <a class="text-primary" href="./assets/pdf/Hotlips_november_2020.pdf" download="Hot Lips November 2020">Download Hot Lips November 2020</a><br>
      <a class="text-primary" href="./assets/pdf/Hotlips_oktober_2020.pdf" download="Hot Lips Oktober 2020">Download Hot Lips Oktober 2020</a><br>
      <a class="text-primary" href="./assets/pdf/Hotlips_september_2020.pdf" download="Hot Lips September 2020">Download Hot Lips September 2020</a>
      <br>
      <br>
      <h2>Joli kamp</h2>
      <a class="text-primary" href="./assets/pdf/Joli-Geel-2022.pdf" download="Joli Geel 2022">Download Joli Geel 2022</a><br>
    </div>

    <app-contact></app-contact>
  </div>
</div>
