<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>De Hot lips</h2>
      <hr>
      <p>De maandelijkse Hot Lips is ons belangrijkste communicatiemiddel naar de leden
        toe. Hier vind je wat er elke week op het programma staat.</p>
      <h5>Download hieronder</h5>
      <a class="text-primary" href="./src/assets/pdf/Hotlips_oktober_2020.pdf" download="Hot Lips Oktober 2020">Download Hot Lips Oktober 2020</a><br>
      <a class="text-primary" href="./src/assets/pdf/Hotlips_september_2020.pdf" download="Hot Lips September 2020">Download Hot Lips September 2020</a>
    </div>

    <app-contact></app-contact>
  </div>
</div>
