<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>De vedetjes</h2>
      <hr>
    </div>
    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey, Wij zijn Simon en Lisa, leiders van de jongste maar zotste afdeling: de Vedetjes.
            Bij ons kan je terecht met een leeftijd van 6 tot 8 jaar. Wij zijn de eerste afdeling en dat kan soms eng
            zijn, maar u zult snel merken dat uw kind hier goed opgevangen wordt en vriendjes voor het leven maakt.
            Wij spelen zotte en leuke spelletjes helemaal gemaakt op ons niveau. Als Mascotte hebben wij Rupsje
            Ribbel, een paarse enthousiaste rups die onze beste vriend is en ons heel het jaar door begeleidt met
            zotte spelen, tochten en nog veel andere dingen. Wij zorgen voor een veilige omgeving waar wij samen met
            uw kind onze fantasie helemaal de vrije loop kunnen laten gaan. </p>
        </div>
      </div>
    </div>
    <img class="w-100 h-auto" src="./assets/media/Vedetjes_leiding.jpeg">
    <div class="col-md-12 mb-5 text-primary">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Lisa: bandwerpen<br>
            Simon: boomstamstampen</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5" style="color: rebeccapurple">
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Hé jij, kom erbij<br>
            in de kring en speel met mij.<br>
            Hokus, pokus, pief, poef paf,<br>
            ribbel zijn, da's maf!<br>
            Ribbel is mijn beste vriend,<br>
            op zondag samen goedgezind.<br>
            Het Chiroheem is onze thuis,<br>
            niets te gek in 't paarse huis.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-contact></app-contact>
</div>
