<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Vedetjes</h2>
      <hr>
    </div>
    <div class="col-md-8 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">Hey, Wij zijn Nieke, Seppe, Savannah en Liese, leiders van de jongste maar zotste afdeling: de Vedetjes.
            Bij ons kan je terecht met een leeftijd van 6 tot 8 jaar. Wij zijn de eerste afdeling en dat kan soms eng
            zijn, maar u zult snel merken dat uw kind hier goed opgevangen wordt en vriendjes voor het leven maakt.
            Wij spelen zotte en leuke spelletjes helemaal gemaakt op ons niveau. Als Mascotte hebben wij Rupsje
            Ribbel, een paarse enthousiaste rups die onze beste vriend is en ons heel het jaar door begeleidt met
            zotte spelen, tochten en nog veel andere dingen. Wij zorgen voor een veilige omgeving waar wij samen met
            uw kind onze fantasie helemaal de vrije loop kunnen laten gaan. </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">
            Nog vragen? Aarzel dan niet om ons te contacteren op onze gsm of via mail op voornaamleiding@chirolips.be!<br><br>
            <strong>Vedetjesleiding:</strong><br>
            Nieke Ceulemans: <a href="tel:0473/47.64.81">0473/47.64.81</a>
            Seppe Verbruggen: <a href="tel:0493/99.46.29"></a><br>
            Savannah Maldoy: <a href="tel:0476/30.57.85">0476/30.57.85</a><br>
            Liese De Winter: <a href="tel:0473/50.75.07">0473/50.75.07</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h5>Onze favoriete chirospelen:</h5>
          <p class="card-text">
            Chloe: tsjoekbal<br>
            Roeland: zwoele lisa<br>
            Nore: koningsbal
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/Vedetjes_leiding.jpeg">
    </div>
    <div class="col-md-6">
      <img class="w-100 h-auto" src="./assets/media/rupsje_ribbel.webp">
    </div>

    <div class="col-md-12 mb-5" style="color: rebeccapurple">
      <br>
      <div class="card h-100">
        <div class="card-body">
          <h5>Afdelingslied:</h5>
          <p class="card-text">
            Hé jij, kom erbij<br>
            in de kring en speel met mij.<br>
            Hokus, pokus, pief, poef paf,<br>
            ribbel zijn, da's maf!<br><br>
            Ribbel is mijn beste vriend,<br>
            op zondag samen goedgezind.<br>
            Het Chiroheem is onze thuis,<br>
            niets te gek in 't paarse huis.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
